/* GLOBAL */
.button {
	align-items: center;
	box-shadow:
	rgba(45, 35, 66, 0.2) 0 2px 4px,
	rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
	#d6d6e7 0 -3px 0 inset;
	height: auto;
	justify-content: center;
	list-style: none;
	overflow: hidden;
	position: relative;
	transition:
	box-shadow 0.15s,
	transform 0.15s;
	-webkit-user-select: none;
	touch-action: manipulation;
	will-change: box-shadow, transform;
	color: #0073aa !important;
	border-color: #0692d5 !important;
	background: #f0f0f1 !important;
	font-weight: 500 !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-radius: 5px !important;
}

.button:focus {
	box-shadow:
	#d6d6e7 0 0 0 1.5px inset,
	rgba(45, 35, 66, 0.4) 0 2px 4px,
	rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
	#d6d6e7 0 -3px 0 inset;
}

.button:hover {
	box-shadow:
	rgba(45, 35, 66, 0.3) 0 4px 8px,
	rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
	#d6d6e7 0 -3px 0 inset;
	transform: translateY(-2px);
	font-weight: 600 !important;
}

.button:active {
	box-shadow: #d6d6e7 0 3px 7px inset;
	transform: translateY(2px);
}

/* STYLES */
.red-button {
	color: #db0000 !important;
	border-color: #dd4141 !important;
	background: #ffe1e1 !important;
	box-shadow:
	rgba(45, 35, 66, 0.2) 0 2px 4px,
	rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
	#ffc3c3 0 -3px 0 inset;
}

.red-button:hover {
	box-shadow:
	rgba(45, 35, 66, 0.3) 0 4px 8px,
	rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
	#ffc3c3 0 -3px 0 inset;
}

/* SPECIFICALLY */
.first-page, .prev-page, .next-page, .last-page, .tablenav-pages-navspan, .button-link {
	top: 10px !important;
}

.page-title-action {
	top: -4px !important;
}

.tablenav.bottom {
	margin: -6px 0 4px;
}

.tablenav.top {
	margin: -12px 0 4px;
}

.subsubsub {
	margin: 14px 0 0px;
}

#button_period {
	margin-top: 6px;
}

#search-submit {
	margin-top: 2px;
}
